<%
  var title = '1x1 Pixel PNG';
  var description = 'Generate 1x1 pixel PNG images online. Create transparent, white, or black 1x1 pixel images in Base64, Bytes, or download formats. Perfect for web design and development.';
  var homepage = pkg.homepage;
  var image = new URL('favicon.png', homepage).href;

  var ldJson = JSON.stringify({
    '@context': 'https://schema.org',
    '@graph': [
      {
        '@type': 'WebSite',
        url: homepage,
        potentialAction: {
          '@type': 'SearchAction',
          target: `${homepage}#{color}`,
          'query-input': {
            '@type': 'PropertyValueSpecification',
            valueRequired: true,
            valueMaxLength: 20,
            valueName: 'color',
          },
        },
      },
      {
        '@type': 'SoftwareApplication',
        name: title,
        description: description,
        url: homepage,
        image: image,
        applicationCategory: 'DeveloperTool',
        operatingSystem: 'Web',
        offers: {
          '@type': 'Offer',
          price: '0',
          priceCurrency: 'USD',
        },
        softwareVersion: pkg.version,
        publisher: {
          '@type': 'Organization',
          name: pkg.author.name,
          url: pkg.author.url,
        },
        license: "https://github.com/shoonia/1x1/blob/master/LICENSE"
      },
    ],
  });
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <% if (isProd) { %>
    <base href="<%= homepage %>">
    <link rel="preload" as="fetch" fetchpriority="high" href="https://api.github.com/repos/shoonia/1x1" crossorigin="anonymous">
  <% } %>
  <link rel="canonical" href="<%= homepage %>">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="google-site-verification" content="JkNxAfkbyATcDv733CZNZPVT9UPc4rJNXxd31OgDwvY">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="<%= description %>">
  <meta property="og:site_name" content="<%= title %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= homepage %>">
  <meta property="og:image" content="<%= image %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_shoonia">
  <meta name="twitter:creator" content="@_shoonia">
  <script type="application/ld+json"><%= ldJson %></script>
</head>

<body>
  <p class="sr-only">
    <%= description %>
  </p>
  <noscript>You need to enable JavaScript to run this app</noscript>
  <script id="colors" type="application/json">
    <%= JSON.stringify(colors) %>
  </script>
</body>

</html>
